div.layout {
    margin: auto;
    width: 700px;
    height: 500px;
    padding: 200px;
}

body {
    font-family: 宋体;
}

span.tag {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

input.button {
    width: 100px;
    height: 30px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}